Repository Seneca-CDOT/plumadriver: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore: update to version 0.10.1
  package-lock.json
  package.json
Due: prettier --write

perf: change build target to ESNext
  tsconfig.json
Due: prettier --write

fix: matching capabilities giving wrong result
  src/Session/Session.ts
  test/jest/e2e/session.test.js
Due: eslint --fix

chore: disable circleci for the windows build
  .circleci/config.yml
Due: none

feat: added Is Element Selected endpoint
  README.md
  src/Session/Session.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/element-selected.test.js
Due: prettier --write, eslint --fix

refactor: moved commands into their own seperate modules
  src/Session/AddToKnownElements.ts
  src/Session/ExecuteScript.ts
  src/Session/HandleSyncScriptError.ts
  src/Session/NavigateTo.ts
  src/Session/SendKeysToElement.ts
  src/Session/Session.ts
Due: eslint --fix

chore: fix vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

chore: update typescript
  package-lock.json
  package.json
  src/Browser/Browser.ts
  src/Session/Session.ts
  src/Types/types.d.ts
Due: prettier --write, eslint --fix

refactor: enable no-implicit-this
  tsconfig.json
Due: prettier --write

refactor: enable strict-bind-call-apply
  tsconfig.json
Due: prettier --write

refactor: enable strict-function-types
  tsconfig.json
Due: prettier --write

refactor: enable always-strict
  tsconfig.json
Due: prettier --write

refactor: add type for express
  package-lock.json
  package.json
  src/Types/types.d.ts
Due: prettier --write, eslint --fix

refactor: add type of jsdom
  .eslintrc.json
  package-lock.json
  package.json
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/Session/Session.ts
  src/Types/types.d.ts
  src/constants/constants.ts
Due: prettier --write, eslint --fix

refactor: added support for strictNullChecks
  src/Browser/Browser.ts
  src/Browser/CookieValidator.ts
  src/Session/Session.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/routes/cookies.ts
  src/routes/elements.ts
  src/routes/index.ts
  src/routes/timeouts.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: removed explicit casting of parameters
  src/Browser/Browser.ts
  src/Browser/CookieValidator.ts
  src/Session/Session.ts
Due: eslint --fix

refactor: enable strictPropertyInitialization
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/Error/WebDriverError.ts
  src/Session/Session.ts
  tsconfig.json
Due: prettier --write, eslint --fix

ci: use github actions for ci
  .github/workflows/run_tests.yml
Due: none

refactor: added noImplicitAny support
  package-lock.json
  package.json
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Error/WebDriverError.ts
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/app.ts
  src/logger.ts
  src/utils/utils.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: remove temporary @ts-nocheck
  package-lock.json
  package.json
  src/Session/Session.ts
  src/Types/untyped-modules.ts
  src/WebElement/WebElement.ts
  src/logger.ts
  src/utils/utils.ts
Due: prettier --write, eslint --fix

refactor: remove explicit any
  src/Browser/Browser.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/Types/types.d.ts
  src/constants/constants.ts
  src/utils/StringUnion.ts
  src/utils/utils.ts
Due: eslint --fix

refactor: remove non-null assertion
  src/utils/utils.ts
Due: eslint --fix

refactor: remove explicit casting
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/app.ts
  src/routes/cookies.ts
  src/routes/elements.ts
  src/routes/index.ts
  src/routes/timeouts.ts
  src/utils/utils.ts
Due: eslint --fix

refactor: combine strict options
  tsconfig.json
Due: prettier --write

fix: wrong jsdom resources option
  src/CapabilityValidator/CapabilityValidator.ts
  src/Types/types.d.ts
Due: eslint --fix

fix: remove unused code
  src/WebElement/WebElement.ts
Due: eslint --fix

refactor: split session commands into modules
  src/Session/Session.ts
  src/Session/command-handlers/add-cookie.ts
  src/Session/command-handlers/delete-all-cookies.ts
  src/Session/command-handlers/delete-cookie.ts
  src/Session/command-handlers/delete-session.ts
  src/Session/command-handlers/element-clear.ts
  src/Session/command-handlers/element-click.ts
  src/Session/command-handlers/element-enabled.ts
  src/Session/command-handlers/element-is-displayed.ts
  src/Session/command-handlers/element-selected.ts
  src/Session/command-handlers/element-send-keys.ts
  src/Session/command-handlers/execute-script.ts
  src/Session/command-handlers/find-element-from-element.ts
  src/Session/command-handlers/find-element.ts
  src/Session/command-handlers/find-elements-from-element.ts
  src/Session/command-handlers/find-elements.ts
  src/Session/command-handlers/get-active-element.ts
  src/Session/command-handlers/get-all-cookies.ts
  src/Session/command-handlers/get-current-url.ts
  src/Session/command-handlers/get-element-attribute.ts
  src/Session/command-handlers/get-element-tag-name.ts
  src/Session/command-handlers/get-element-text.ts
  src/Session/command-handlers/get-named-cookie.ts
  src/Session/command-handlers/get-page-source.ts
  src/Session/command-handlers/get-timeouts.ts
  src/Session/command-handlers/get-title.ts
  src/Session/command-handlers/index.ts
  src/Session/command-handlers/navigate-to.ts
  src/Session/command-handlers/set-timeouts.ts
  src/Session/command-handlers/switch-to-frame.ts
  src/Session/command-handlers/switch-to-parent-frame.ts
  src/Types/types.d.ts
  src/utils/utils.ts
Due: eslint --fix

feat: added get element property endpoint
  README.md
  src/Session/Session.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/element-property.test.js
Due: prettier --write, eslint --fix

test: added get element property route test
  src/routes/elements.ts
  test/jest/element-property-route.test.js
  test/jest/element-property.test.js
Due: eslint --fix

feat: added get element property endpoint
  package-lock.json
  test/jest/element-property-route.test.js
  test/jest/element-property.test.js
  test/jest/element-selected.test.js
Due: prettier --write, eslint --fix

test: added get element property route test
  test/jest/element-property.test.js
Due: eslint --fix

test: added get element property route test
  src/Session/Session.ts
  src/WebElement/WebElement.ts
Due: eslint --fix

feat: added get element property endpoint
  README.md
  src/Session/command-handlers/get-element-property.ts
  src/Session/command-handlers/index.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/routes/elements.ts
  test/get-element-property.test.js
Due: prettier --write, eslint --fix

test: added test for get element property endpoint
  src/constants/constants.ts
  test/get-element-property.test.js
  test/jest/get-element-property.test.js
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  eslint --fix: any of: *.{js,ts}
