Repository Seneca-CDOT/plumadriver: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{json,css,scss,html,md}": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "git add"]
}

fix: missing type on process pointer action
  src/Actions/ActionHandler.ts
Due: eslint --fix

feat: add setPointerType
  src/Actions/Action.ts
  src/Actions/ActionHandler.ts
Due: eslint --fix

feat: add setButton in Action class
  src/Actions/Action.ts
  src/Actions/ActionHandler.ts
Due: eslint --fix

feat: add setOrigin to Action class
  src/Actions/Action.ts
  src/Actions/ActionHandler.ts
Due: eslint --fix

feat: add setY and setX functions
  src/Actions/Action.ts
  src/Actions/ActionHandler.ts
Due: eslint --fix

feat: finish processPointerAction
  src/Actions/ActionHandler.ts
Due: eslint --fix

fix: input source action sequence type
  src/Actions/ActionHandler.ts
  src/Actions/KeyAction.ts
  src/Actions/NullAction.ts
  src/Actions/PointerAction.ts
Due: eslint --fix

feat: add actions by tick extraction algorithm
  src/Actions/ActionHandler.ts
Due: eslint --fix

refactor: rename ActionHandler to ActionBuilder
  src/Actions/ActionBuilder.ts
Due: eslint --fix

fix: return type on x and y setters
  src/Actions/Action.ts
Due: eslint --fix

chore: replace custom tough-cookie module with upstream version
  package-lock.json
  package.json
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/jsdom_extensions/tough-cookie/LICENSE
  src/jsdom_extensions/tough-cookie/README.md
  src/jsdom_extensions/tough-cookie/lib/cookie.js
  src/jsdom_extensions/tough-cookie/lib/memstore.js
  src/jsdom_extensions/tough-cookie/lib/pathMatch.js
  src/jsdom_extensions/tough-cookie/lib/permuteDomain.js
  src/jsdom_extensions/tough-cookie/lib/pubsuffix-psl.js
  src/jsdom_extensions/tough-cookie/lib/store.js
  src/jsdom_extensions/tough-cookie/package.json
Due: prettier --write, eslint --fix

refactor: fix spelling mistake in capabilities naming
  src/Session/Session.ts
Due: eslint --fix

fix: pageLoad default timeout
  src/Session/Session.ts
  test/jest/e2e/timeouts.test.js
Due: eslint --fix

feat: enable node module resolution
  tsconfig.json
Due: prettier --write

refactor: change to default import where available
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/WebElement/WebElement.ts
  src/app.ts
  src/index.ts
  src/logger.ts
  src/routes/cookies.ts
  src/routes/elements.ts
  src/routes/index.ts
  src/routes/navigate.ts
  src/routes/timeouts.ts
  src/utils/utils.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: convert namespace imports to default imports (#172)
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/WebElement/WebElement.ts
  src/app.ts
  src/index.ts
  src/logger.ts
  src/routes/cookies.ts
  src/routes/elements.ts
  src/routes/index.ts
  src/routes/navigate.ts
  src/routes/timeouts.ts
  src/utils/utils.ts
  tsconfig.json
Due: prettier --write, eslint --fix

refactor: replace Object hasOwnProperty calls with 'has' package
  package-lock.json
  package.json
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/WebElement/WebElement.ts
  src/utils/utils.ts
Due: prettier --write, eslint --fix

chore: remove unused packages
  package-lock.json
  package.json
Due: prettier --write

fix: acceptInsecureCerts not being set to the proper value
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
Due: eslint --fix

fix: unhandledPromptBehaviour not working in 'ignore' cases
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/Types/types.d.ts
  src/constants/constants.ts
  src/utils/utils.ts
  test/jest/e2e/session.test.js
Due: eslint --fix

test: unskip alwaysMatch
  test/jest/e2e/session.test.js
Due: eslint --fix

fix: unhandledPromptBehavior not working in 'ignore' cases (#176)
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/Types/types.d.ts
  src/constants/constants.ts
  src/utils/utils.ts
  test/jest/e2e/session.test.js
Due: eslint --fix

fix: set timeout endpoint not accepting zero values
  src/CapabilityValidator/CapabilityValidator.ts
  src/routes/timeouts.ts
  test/jest/e2e/timeouts.test.js
Due: eslint --fix

chore: install npm-run-all package
  package-lock.json
  package.json
Due: prettier --write

feat: change npm scripts to work on all platforms
  package.json
Due: prettier --write

feat: add ability to run npm scripts on multiple platforms (#178)
  package-lock.json
  package.json
Due: prettier --write

docs: add links to W3C spec for completed endpoints
  README.md
Due: prettier --write

fix: add status codes to active element test
  test/jest/e2e/active-element.test.js
Due: eslint --fix

fix: add click and cookie status codes
  test/jest/e2e/click.test.js
  test/jest/e2e/cookies.test.js
Due: eslint --fix

fix: add execute script status codes
  test/jest/e2e/execute-script-sync.test.js
Due: eslint --fix

fix: get page source status codes
  test/jest/e2e/get-page-source.test.js
Due: eslint --fix

fix: isDisplayed status codes
  test/jest/e2e/helpers.js
  test/jest/e2e/is-displayed.test.js
Due: eslint --fix

fix: navigation status codes
  test/jest/e2e/navigation.test.js
Due: eslint --fix

fix: frame and timeout status codes
  test/jest/e2e/switch-to-frame.test.js
  test/jest/e2e/timeouts.test.js
Due: eslint --fix

test: add status codes to supertest requests (#180)
  test/jest/e2e/active-element.test.js
  test/jest/e2e/click.test.js
  test/jest/e2e/cookies.test.js
  test/jest/e2e/execute-script-sync.test.js
  test/jest/e2e/get-page-source.test.js
  test/jest/e2e/helpers.js
  test/jest/e2e/is-displayed.test.js
  test/jest/e2e/navigation.test.js
  test/jest/e2e/switch-to-frame.test.js
  test/jest/e2e/timeouts.test.js
Due: eslint --fix

refactor: replace constructor name checks
  src/Session/Session.ts
  test/jest/capability-validator.test.js
Due: eslint --fix

fix: return { value: null } in cases where response was null
  src/Session/Session.ts
  src/utils/utils.ts
  test/jest/e2e/navigation.test.js
Due: eslint --fix

fix: get all cookies endpoint returning unassociated cookies
  src/Browser/Browser.ts
  src/Session/Session.ts
  test/jest/e2e/cookies.test.js
Due: eslint --fix

style: fix missing types and return values in typescript
  .eslintignore
  .eslintrc.json
  package.json
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/Browser/CookieValidator.ts
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/Types/types.d.ts
  src/WebElement/WebElement.ts
  src/app.ts
  src/constants/constants.ts
  src/routes/elements.ts
  src/utils/utils.ts
Due: prettier --write, eslint --fix

docs: add TODO notes for perform actions
  README.md
Due: prettier --write
