Repository Seneca-CDOT/plumadriver: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

test: added extra tests to check for null conditions
  test/jest/get-element-property.test.js
Due: eslint --fix

refactor: added undefined check in the correct position
  src/WebElement/WebElement.ts
Due: eslint --fix

refactor: changed unsafe undefined check
  src/Session/command-handlers/get-element-property.ts
  src/WebElement/WebElement.ts
Due: eslint --fix

chore: remove lint test script
  package.json
Due: prettier --write

chore: add initial airbnb config
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

chore: add no-unused-expression rule for typescript
  .eslintrc.json
Due: prettier --write

chore: disable eslint mutating param rule
  .eslintrc.json
Due: prettier --write

fix: eslint class-methods-use-this
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/WebElement/WebElement.ts
Due: eslint --fix

fix: eslint no-console
  .eslintrc.json
  src/Browser/BrowserConfig.ts
  src/Session/Session.ts
  src/index.ts
Due: prettier --write, eslint --fix

fix: eslint no-use-before-define
  src/Session/command-handlers/execute-script.ts
  src/utils/utils.ts
Due: eslint --fix

fix: remove logic not in w3c spec
  src/Browser/Browser.ts
Due: eslint --fix

fix: eslint no-plusplus
  src/Session/Session.ts
Due: eslint --fix

fix: eslint format errors
  src/WebElement/WebElement.ts
  src/routes/cookies.ts
Due: eslint --fix

fix: eslint no-restricted-syntax
  src/Browser/Browser.ts
  src/Browser/BrowserConfig.ts
  src/Session/Session.ts
Due: eslint --fix

chore: disable eslint import-no-resolve in bin.js
  bin.js
Due: eslint --fix

refactor: remove redundant; use more apt func
  src/CapabilityValidator/CapabilityValidator.ts
  src/Session/Session.ts
Due: eslint --fix

docs: add node version instructions
  README.md
Due: prettier --write

chore: add nvmrc file
  .nvmrc
Due: none

feat: added Get Computed Label endpoint
  README.md
  package-lock.json
  package.json
  src/Session/command-handlers/get-computed-label.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/e2e/get-computed-label.test.js
Due: prettier --write, eslint --fix

fix: removed unused code and resolved conflicts
  src/Session/command-handlers/get-computed-label.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  test/jest/e2e/get-computed-label.test.js
Due: eslint --fix

feat: added Get Computed Label endpoint
  src/Session/command-handlers/get-computed-label.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  test/jest/e2e/get-computed-label.test.js
Due: eslint --fix

fix: fixed merge conflicts
  src/Session/command-handlers/get-computed-label.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  test/jest/e2e/get-computed-label.test.js
Due: eslint --fix

feat: added Get Computed Label endpoint (#212)
  README.md
  package-lock.json
  package.json
  src/Session/command-handlers/get-computed-label.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/e2e/get-computed-label.test.js
Due: prettier --write, eslint --fix

refactor: rebased changes from master
  README.md
  src/Session/command-handlers/get-element-css-value.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/WebElement/pages/button.html
  test/jest/WebElement/style/style.css
  test/jest/get-element-css-value.test.js
Due: prettier --write, eslint --fix

refactor: rebased changes from master
  src/Session/command-handlers/get-element-css-value.ts
  test/jest/get-element-css-value.test.js
Due: eslint --fix

feat: added Get Element CSS Value Endpoint
  src/WebElement/WebElement.ts
  test/jest/get-element-css-value.test.js
Due: eslint --fix

refactor: removed done and async from endpoint test
  test/jest/get-element-css-value.test.js
Due: eslint --fix

refactor: removed unnecessary stylesheet
  test/jest/WebElement/pages/button.html
  test/jest/WebElement/style/style.css
Due: prettier --write

refactor: changed endpoint to return blank string
  src/Session/command-handlers/get-element-css-value.ts
Due: eslint --fix

test: added a test to test for doctype as xml
  src/Session/command-handlers/get-element-css-value.ts
  test/jest/get-element-css-value-doctype.test.js
Due: eslint --fix

test: moved both test suites into one file
  test/jest/get-element-css-value-doctype.test.js
  test/jest/get-element-css-value.test.js
Due: eslint --fix

feat: added get computed role endpoint
  README.md
  src/Session/command-handlers/get-computed-role.ts
  src/Session/command-handlers/index.ts
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/e2e/get-computed-role.test.js
Due: prettier --write, eslint --fix

docs: changed link in readme file
  README.md
Due: prettier --write

refactor: changed function logic to meet w3c specs
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  test/jest/e2e/get-computed-role.test.js
Due: eslint --fix

refactor: fixed formatting issues
  src/WebElement/WebElement.ts
  src/constants/constants.ts
  src/routes/elements.ts
  test/jest/e2e/get-computed-role.test.js
Due: eslint --fix

refactor: fixed logic error in getRole function
  src/WebElement/WebElement.ts
  test/jest/e2e/get-computed-role.test.js
Due: eslint --fix

refactor: changed function return type
  src/WebElement/WebElement.ts
Due: eslint --fix

refactor: changed role type in tests
  test/jest/e2e/get-computed-role.test.js
Due: eslint --fix

refactor: shortened function logic
  src/WebElement/WebElement.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  eslint --fix: any of: *.{js,ts}
