Repository Seneca-CDOT/plumadriver: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

ci: removed unnecessary comments
  .circleci/config.yml
Due: none

fix: changed yml version
  .circleci/config.yml
Due: none

ci: skipped failing tests
  test/jest/e2e/navigation.test.js
  test/jest/e2e/session.test.js
  test/jest/e2e/timeouts.test.js
Due: eslint --fix

chore: update jsdom to version 16.0.1
  package-lock.json
  package.json
Due: prettier --write

fix: execute script failing on HTMLElement types in jsdom 16
  src/Session/Session.ts
Due: eslint --fix

test: add cookies e2e test file
  .eslintignore
  test/jest/e2e/cookies.test.js
Due: eslint --fix

fix: response value of Get Named Cookie
  src/Session/Session.ts
Due: eslint --fix

test: add InvalidArgument cookie check
  test/jest/e2e/cookies.test.js
Due: eslint --fix

test: add .local cookie test
  test/jest/e2e/cookies.test.js
Due: eslint --fix

test: remove old Browser tests
  test/jest/Browser/Browser.test.js
  test/jest/CookieValidator.test.js
Due: eslint --fix

test: add mismatched path and domain cookie tests
  test/jest/e2e/cookies.test.js
Due: eslint --fix

refactor: remove outdated named cookie test
  test/jest/get-named-cookie.test.js
Due: eslint --fix

test: add delete cookie e2e
  test/jest/delete-cookie.test.js
  test/jest/e2e/cookies.test.js
Due: eslint --fix

test: add e2e for cookie endpoints (#140)
  .eslintignore
  src/Session/Session.ts
  test/jest/Browser/Browser.test.js
  test/jest/CookieValidator.test.js
  test/jest/delete-cookie.test.js
  test/jest/e2e/cookies.test.js
  test/jest/get-named-cookie.test.js
Due: eslint --fix

docs: add PlumaDriver options
  README.md
Due: prettier --write

ci: added CircleCI support for windows
  .circleci/config.yml
Due: none

docs: fix formatting and remove note in intro
  README.md
Due: prettier --write

refactor: remove explicit Promise return in Session process Function
  src/Session/Session.ts
Due: eslint --fix

chore: update project dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add injector for missing jsdom apis
  src/Browser/BrowserConfig.ts
  test/jest/e2e/inject-api.test.js
Due: eslint --fix

chore(version): update package.json to v0.7.0
  package-lock.json
  package.json
Due: prettier --write

chore: update jsdom to v16.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(version): update to v0.8.0
  package-lock.json
  package.json
Due: prettier --write

chore: update jsdom and dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update to version 0.8.1
  package-lock.json
  package.json
Due: prettier --write

feat: add get active element logic
  src/Session/Session.ts
  src/constants/constants.ts
Due: eslint --fix

feat: add get active element route and test
  src/routes/index.ts
  test/jest/e2e/active-element.test.js
Due: eslint --fix

refactor: add underscores to get active element constant
  src/constants/constants.ts
Due: eslint --fix

feat: get active element endpoint (#153)
  src/Session/Session.ts
  src/constants/constants.ts
  src/routes/index.ts
  test/jest/e2e/active-element.test.js
Due: eslint --fix

fix: focus elements on click
  src/WebElement/WebElement.ts
  test/jest/WebElement/WebElement.test.js
  test/jest/WebElement/pages/button.html
Due: prettier --write, eslint --fix

fix: call stack error in jsdom when clicking label element descendants
  src/WebElement/WebElement.ts
  test/jest/e2e/click.test.js
Due: eslint --fix

chore: update to version 0.9.0
  package-lock.json
  package.json
Due: prettier --write

feat: add zip file builder script
  .eslintrc.json
  package-lock.json
  package.json
  scripts/build-zip-files.js
Due: prettier --write, eslint --fix

docs: add Get Active Element to completed endpoints
  README.md
Due: prettier --write

feat: add Window element to browser
  src/Browser/Browser.ts
Due: eslint --fix

refactor: add getActiveElement()
  src/Browser/Browser.ts
  src/Session/Session.ts
Due: eslint --fix

refactor: browser getters that use window.document
  src/Browser/Browser.ts
  src/Session/Session.ts
Due: eslint --fix

feat: add setters and getters
  src/Browser/Browser.ts
  src/Session/Session.ts
Due: eslint --fix

refactor: support current browsing context (#161)
  src/Browser/Browser.ts
  src/Session/Session.ts
Due: eslint --fix

Path conditions:
  prettier --write: any of: *.{json,css,scss,html,md}
  eslint --fix: any of: *.{js,ts}
