Repository Seneca-CDOT/plumadriver: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, markdownlint, eslint --fix

test: add an additional input element in execute script Nodelist check
  test/jest/e2e/execute-script-sync.test.js
Due: eslint --fix

feat: add session test file
  test/jest/e2e/session.test.js
Due: eslint --fix

test: add alwaysMatch capabilities test
  test/jest/e2e/session.test.js
Due: eslint --fix

test: add session matching capabilities tests
  test/jest/e2e/session.test.js
Due: eslint --fix

test: add delete session test
  test/jest/e2e/session.test.js
Due: eslint --fix

refactor: remove unnecessary NODE_ENV assignment
  src/index.ts
Due: eslint --fix

feat: add get page source to command constants
  src/constants/constants.ts
Due: eslint --fix

feat: add getPageSource method to Browser class
  src/Browser/Browser.ts
Due: eslint --fix

feat: add get page source logic to session process
  src/Session/Session.ts
Due: eslint --fix

feat: add get page source express route
  src/routes/index.ts
Due: eslint --fix

test: add get page source
  test/jest/e2e/get-page-source.test.js
Due: eslint --fix

refactor: store get page source test script
  test/jest/e2e/get-page-source.test.js
Due: eslint --fix

feat: add shutdown endpoint to replace SessionManager process.exit() check
  src/routes/index.ts
Due: eslint --fix

test: add shutdown
  test/jest/e2e/shutdown.test.js
Due: eslint --fix

feat: add commitizen package, configs, and scripts
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: error in lintstaged config affecting markdown files
  .lintstagedrc.json
Due: prettier --write

fix: correct npm lint scripts
  .eslintignore
  package.json
Due: prettier --write

refactor: remove unnecessary constant variable in bin.js
  bin.js
Due: eslint --fix

fix: use package.json version for browserVersion
  package-lock.json
  package.json
  src/Session/Session.ts
  src/SessionManager/SessionManager.ts
  src/utils/utils.ts
  test/jest/e2e/session.test.js
  test/jest/utils/utils.test.js
Due: prettier --write, eslint --fix

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write, markdownlint

docs: update readme instructions and content
  README.md
Due: prettier --write, markdownlint

fix: update compile command in npm watch script
  package.json
Due: prettier --write

fix: correct returning newlines in execute script sync
  src/Session/Session.ts
  test/jest/e2e/execute-script-sync.test.js
Due: eslint --fix

Revert "fix: correct returning newlines in execute script sync"
  src/Session/Session.ts
  test/jest/e2e/execute-script-sync.test.js
Due: eslint --fix

chore(version): v0.6.0
  package-lock.json
  package.json
Due: prettier --write

chore(version): update package.json to v0.6.0
  package-lock.json
  package.json
Due: prettier --write

chore(version): update package.json to v0.6.0 (#134)
  package-lock.json
  package.json
Due: prettier --write

test: convert capabilityValidator to Jest
  test/jest/capability-validator.test.js
Due: eslint --fix

chore: remove mocha test files and folders
  test/1_unit_tests/2_WebElement/webElement.js
  test/1_unit_tests/3_Browser/browser.js
  test/1_unit_tests/4_Session/session.js
  test/1_unit_tests/5_SessionManager_Tests/SessionManager.js
  test/2_endpoints_tests/1_createSession/createSession.js
  test/2_endpoints_tests/2_timeouts/timeouts.js
  test/2_endpoints_tests/3_navigation/navigation.js
  test/2_endpoints_tests/4_alerts/alerts.js
  test/2_endpoints_tests/5_cookies/cookies.js
  test/2_endpoints_tests/6_elements/elements.js
  test/2_endpoints_tests/7_script/script.js
  test/index.js
  test/test_utils.js
  test_docs/index.html
  test_docs/style.css
Due: prettier --write, eslint --fix

chore: remove mocha npm script and dependencies
  package-lock.json
  package.json
Due: prettier --write

docs: add missing commit types
  CONTRIBUTING.md
Due: prettier --write, markdownlint

ci: initial commit for circleCI
  .circleci/config.yml
Due: none

ci: changed config.yml
  .circleci/config.yml
Due: none

ci: added pretest
  package.json
Due: prettier --write

ci: removed generated comments
  .circleci/config.yml
Due: none

ci: added npm run compile to pretest, removed test:compile
  package.json
Due: prettier --write

ci: fixed running test
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{json,css,scss,html}) or (any of: *.md)
  markdownlint: any of: *.md
  eslint --fix: any of: *.{js,ts}
